<!DOCTYPE html>
<html lang="en">
{{> head }}
<body>
    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Golf Turbo de 2.0 L</h1>
            <p>Este motor turbo con inyección directa puede ser potente y eficiente.11 La tecnología turbo impulsa aire frío directamente al motor, lo que te ofrece un mayor desempeño, 220 hp y 258 lb-pies de torque (cuando se usa con combustible Premium). Además, no tienes que levantar el capó para descubrir esto, con solo apretar el acelerador, lo comprobarás.</p>
        </div>
        <div class="col-4">
            <img src="/assets/golf.jpg" class="img-thumbnail">
        </div>
    </div>
    
    {{> footer }}
</body>
</html>